



    <nav>
      <ul class="nav-list">
        <li class="nav-list-item">
          <%= link_to "Top", top_path %>
        </li>
        <li class="nav-list-item">
          <%= link_to "post", posts_path %>
        </li>
        <li class="nav-list-item">
          <%= link_to "New post", posts_new_path %>
        </li>
      </ul>
    </nav>
